<!DOCTYPE html>
<html>
<head>
  <title>DemoApp</title>
<<<<<<< HEAD
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
=======
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
>>>>>>> 89cb1bc10b60ba925dcd2737da4aa7374b78d79e
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
